.access {
  text-align: center;
  margin-bottom: 11rem;

  @include breakpoint-down(small) {
    margin-bottom: 8rem;
  }

  h2 {
    margin-bottom: 3rem;

    @include breakpoint-down(small) {
      margin-bottom: 1.6rem;
    }
  }

  p {
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 11.5rem;

    @include breakpoint-down(small) {
      margin-bottom: 5rem;
    }
  }

  img {
    width: 65%;

    @include breakpoint-down(small) {
      width: 100%;
    }
  }
}
