.hero {
  text-align: center;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  margin-bottom: 15.5rem;

  @include breakpoint-down(small) {
    background-image: url(../images/bg-header-mobile.png);
    margin-bottom: 13rem;
  }

  &__logo {
    width: 13rem;
    margin-top: 13rem;
    margin-bottom: 7rem;

    @include breakpoint-down(small) {
      width: 10rem;
      margin-top: 9.6rem;
      margin-bottom: 5.5rem;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  p {
    max-width: 65rem;
    margin: 0 auto;
    margin-bottom: 5rem;

    @include breakpoint-down(small) {
      margin-bottom: 4rem;
    }
  }

  a:not(:last-child) {
    margin-right: 1rem;
    @include breakpoint-down(small) {
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }
}
